<main>
    <section>
      <h2>Filmes de Terror e Suspense</h2>
      <div class="movies-grid">
        <div class="movie">
          <img src="../../assets/img/birdboxbarcelona.jpg" alt="Bird Box Barcelona">
          <h3>Bird Box Barcelona [1080p] [Dublado]</h3>
        </div>
        <div class="movie">
          <img src="../../assets/img/venus2022.jpg" alt="Venus 2022">
          <h3>Venus - 2022 [1080p] [Dublado]</h3>
        </div>
        <div class="movie">
          <img src="../../assets/img/panico6.jpg" alt="Pânico 6">
          <h3>Pânico VI [1080p] [Dublado]</h3>
        </div>
      </div>
    </section>
  </main>