nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #eaeaea;
}

main {
  padding: 20px;
  height: 78vh;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

.movies-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}

.movie {
  text-align: center;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.movie img {
max-width: 100%;
max-height: 200px;
object-fit: cover;
border-radius: 5px;
margin-bottom: 10px;
}

@media (max-width: 768px) {
nav ul li {
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

main {
  height: auto;
}

.movies-grid {
  flex-direction: column;
  grid-gap: 10px;
}

.movie img {
  max-height: 150px;
}

.movie h3 {
  font-size: 16px;
}
}