nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #eaeaea;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 15px;
  }

  .categories-buttons {
    display: flex;
    justify-content: center;
  }
  
  .category-item {
    flex: 0 0 calc(33.3333% - 20px);
    text-align: center;
  }
  
  .category-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #333;
  }
  
  .category-item a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .category-item a:hover {
    color: #666;
  }
  
  /* Estilos anteriores */

  .categories-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Adiciona esta propriedade para permitir que os botões sejam quebrados em várias linhas */
  }

  .category-item {
    flex: 0 0 calc(33.3333% - 20px);
    text-align: center;
    margin-bottom: 20px; /* Adiciona um espaço entre os botões */
  }

  /* Media Query para tornar os botões responsivos quando a tela tiver largura menor que 600px */
  @media (max-width: 600px) {
    .category-item {
      flex: 0 0 calc(50% - 20px); /* Os botões ocuparão metade do espaço disponível em telas menores */
    }
  }
