
  <div class="section">
    <div class="main">
      <h2>Filmes de Comédia</h2>
      <div class="movies-grid">
          <div class="movie">
            <img src="../../assets/img/derepente70.jpg" alt="De Repente 70">
            <h3>De Repente 70 [1080p] [Dublado]</h3>
          </div>
          <div class="movie">
              <img src="../../assets/img/misterioemparis.jpg" alt="Mistério em París">
              <h3>Mistério em París [1080p] [Dublado]</h3>
            </div>
            <div class="featured-movies">
              <div class="movie">
                <img src="../../assets/img/supermariobros.jpg" alt="Supermario Bros">
                <h3>Supermario Bros [1080p] [Dublado]</h3>
              </div>
      </div>
    </div>
  </div>